<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta content="text/html; charset=utf-8" http-quiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @invite_info.handle %> </h1>
    <h1><%= link_to "If You Love Glitter, Join Our App.", register_url(:host => 'localhost:3000', :protocol => 'http') %></h1>
  </body>
</html>
